div.add {
  height: 450px;
  width: 50%;
  position: absolute;
  display: none;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

div.add-container {
  height: 98%;
  width: 98%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 1px #abafb1;
}

div.logo-close {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 1px #abafb1;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

div.logo-close > i {
  font-size: 18px;
}

div.inputs-add {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.inputs-add > p {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
}

div.fields {
  width: 100%;
  padding: 20px;
}

div.form-on-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.label-input-button {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

div.label-input-button > label {
  padding: 25px 0;
}

div.label-input-button > input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(204, 202, 202);
}

div.label-input-button > input:focus {
  border: 1px solid #a1ad18;
}

div.submit-form {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.submit-form > button:first-child {
  width: 65%;
  padding: 15px;
  border: none;
  background-color: #a1ad18;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

div.submit-form > button:last-child {
  width: 30%;
  padding: 15px;
  border: 1px solid lightgray;
  background-color: white;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.error-style {
  color: red;
  font-size: 15px;
}