div.create-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.header-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px 0;
}

div.title-form {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

div.content-form {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
}

div.path {
  color: #a1ad18;
}

div.add-form {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.add-form > button{
  border: none;
  width: 80%;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #a1ad18;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.add-form  i {
  font-size: 25px;
  padding: 0px 10px;
}

div.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(199, 192, 192);
  height: 70%;
}

div.header-form-container {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(199, 192, 192);
  font-weight: bold;
}

div.header-form-container > i {
  font-size: 20px;
  padding: 0 5px;
}

div.inputs-form {
  width: 100%;
  padding: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.label-input {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

div.label-input > label {
  padding: 10px 0;
}

div.label-input > input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(204, 202, 202);
}

div.label-input > button {
  width: 100%;
  cursor: pointer;
  border: 1px solid rgb(204, 202, 202);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.label-input > input:focus {
  border: 1px solid #a1ad18;
}

div.buttons-form {
  width: 100%;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

div.buttons-form > button {
  width: 20%;
  cursor: pointer;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

div.buttons-form > button:first-child {
  background-color: #a1ad18;
  color: white;
  border: none;
}

div.buttons-form span {
  color: gray;
}

div.buttons-form i, div.footer-form i {
  font-size: 18px;
  padding: 0 5px;
  color: white;
}

div.buttons-form i:first-child {
  color: gray
}

div.footer-form {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.footer-form > button  {
  border: none;
  width: 20%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #a1ad18;
  color: white;
}
