div.header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #abafb1;
}

div.title-panel {
  width: 65%;
}

div.profile-panel {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

div.profile-panel > i {
  font-size: 20px;
}

div.exit-logo {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
  cursor: pointer;
}

div.exit-logo > i {
  font-size: 18px;
  padding: 0 10px;
}

div.exit-logo:hover {
  color: #c9d447;
}
